.group-cards{
    width:900px;
    height: 250px;
    display:flex;
    /* display:none; */
    justify-content:left;
    padding-left: 50px;
    border:1px solid black;
    justify-content:center;
    /* overflow-x:scroll; */
    overflow-y:hidden;
    padding:20px;
    margin:15px;
}

button{
    width: 100px;
    border-radius:8px;
    border:1px solid black;
    margin:5px;
    /* display:flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;

}
.button-group{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}