.group-create{
    /* display: none; */
    flex-direction: column;
    align-items: center;
    height: 230x;
    width:280px;
    background-color:white;
    border:1px solid black;
    position:absolute;
    top: 30%;
}

.creategroup{
    margin-top:25px;
    display:flex;
    flex-direction:column; 
    align-items:center;
}
.group-create-submit{
    font-size:16px;
    width:130px;
    border:1px solid black;
    /* margin:10px; */
    margin-top:30px;
}

