body{
    display: flex;
    flex-direction: column;
    align-items: center;
overflow-x:hidden;
}

.header {
    font-size: 36px;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
    /* color: transparent; */
        /* background: linear-gradient(45deg, #f06, #9f6); */
}

.header {
    font-size: 36px;
    margin: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-bottom: 2px solid #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
    /* color: transparent; */
        /* background: linear-gradient(45deg, #f06, #9f6); */


}

