.group-join{
    flex-direction: column;
    align-items: center;
    height: 190px;
    width:280px;
    background-color:white;
    border:1px solid black;
    position:absolute;
    top: 30%;
    display:flex;
    /* margin:15px; */
    border-radius: 10px;
    z-index: 1;
}
.exit-modal{
    position:absolute;
    right:5px;
}
.exit-modal:hover{
    cursor:pointer;
}
input{
    border:1px solid black;
    width:250px;
    margin:15px;
    height:30px;
    /* margin-top:50px; */
}
button{
    height:30px;
    margin-top:20px;
    text-align:center;
}
form{
    height:200px;
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center;
    margin:15px;
    /* margin-top:15px; */
}